{% extends 'base.html' %}

{% block title %}Confirmar Exclusão de Cliente{% endblock %}

{% block content %}
<div class="container">
    <h1 class="my-4">Confirmar Exclusão de Cliente</h1>
    <p>Tem certeza que deseja excluir o cliente {{ cliente.nome }}?</p>
    <form method="POST" action="{% url 'excluir_cliente' cliente.pk %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Excluir</button>
        <a href="{% url 'clientes' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
